@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Choose Your Path</h1>
    <p class="lead">BardicTree is a collaborative work of adventure fiction. It allows you, the reader, to follow a non-linear narrative and help create a living breathing world.</p>
    <p><a href="/Node/View/1" class="btn btn-primary btn-lg">Start My Adventure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <h2>What is this?</h2>
        <p>BardicTree contains a collection of linked story elements written by users. Starting from the roots of our story tree each adventurer follows their own path through 
        story elements making choices as they go. If none of the choices appeal, adventurers can turn into authors and take the story off into new directions.</p>
        <h3>How do I start?</h3>
        <p>Click on the Start My Adventure button above.</p>
        <h3>How do I contribute?</h3>
        <p>Each story element allows registered users to click on the Add to the Story button to add a new choice then write a new story element.</p>
    </div>
    <div class="col-md-3">
        <blockquote>
            <p>The tree currently has @ViewBag.NodeCount story elements.</p>
        </blockquote>
        <blockquote>
            <p>There are @ViewBag.UserCount travellers on adventures.</p>
        </blockquote>
    </div>
</div>