@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Choose Your Path</h1>
    <p class="lead">BardicTree is a collaborative work of adventure fiction. It allows you, the reader, to follow a non-linear narrative and help create a living breathing world.</p>
    <p><a href="/Node/View/1" class="btn btn-primary btn-lg">Start My Adventure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <h2>Blurb</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque lectus lorem, in laoreet orci aliquam in. Etiam metus risus, elementum id ornare non, vestibulum at metus. Phasellus rutrum, odio ut dapibus rhoncus, lacus justo accumsan urna, et pharetra eros risus eu nulla. Cras pulvinar tincidunt libero, et bibendum odio sollicitudin non. Donec pharetra sem id blandit scelerisque. Phasellus a libero erat. Nullam vel lacinia erat. Sed at tellus in massa pretium elementum vitae ac eros.</p>
        <p>Integer urna mauris, elementum quis cursus vel, vulputate sed ante. Vivamus ac molestie enim. Sed urna metus, molestie vel pellentesque nec, tempus sed odio. Vestibulum gravida laoreet felis, id pretium turpis. Ut non congue lectus. Duis sed urna at eros placerat bibendum. Maecenas turpis mi, hendrerit at placerat ac, blandit sit amet turpis. Integer pellentesque, nulla ac accumsan eleifend, sapien nulla cursus nunc, at venenatis magna urna blandit dolor. Proin at semper dui. Etiam in velit arcu. Cras mollis consectetur lectus vitae consequat. Pellentesque sed massa non purus pretium mattis. Sed elit dui, sollicitudin sollicitudin aliquet vitae, rutrum non arcu. Fusce et pulvinar nunc. Pellentesque tincidunt, lectus sed consectetur fringilla, tortor arcu malesuada dolor, non ultricies nunc enim cursus turpis. Vestibulum pellentesque sit amet ex id tempus.</p>
        <p>Vivamus ac scelerisque orci, nec aliquam quam. Nunc suscipit elementum orci a mollis. Sed sit amet sem turpis. Curabitur eu erat in augue consequat lobortis. Sed at elit quis libero tincidunt dapibus quis et tellus. Proin convallis consequat tortor malesuada malesuada. Nam aliquet, tellus auctor hendrerit auctor, risus justo pulvinar felis, nec congue ipsum ligula sed ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <p>Nunc felis dolor, fringilla et mauris sed, placerat condimentum sem. Maecenas venenatis libero in odio lobortis iaculis. In pharetra cursus dictum. Pellentesque ac placerat elit. Sed quis orci quis eros sagittis pellentesque at porta erat. Aenean dapibus fringilla justo eu vulputate. Fusce feugiat felis suscipit, egestas metus sed, lacinia ex. Suspendisse sagittis ipsum sed neque maximus tristique. Nunc ut nibh quis urna posuere porta. Morbi et diam lacinia, dapibus velit sit amet, rhoncus turpis. Mauris vel commodo dolor. Pellentesque luctus elit congue felis dictum rutrum. Quisque placerat cursus felis, id pretium neque laoreet eu.</p>
        <p>Sed venenatis consequat mauris, eu tincidunt odio porttitor et. Suspendisse bibendum, urna vitae tincidunt rhoncus, tellus est consequat mauris, eget pulvinar lorem lorem facilisis erat. Curabitur egestas et lorem nec imperdiet. Fusce nunc arcu, fermentum vestibulum tristique a, ultrices sit amet enim. Curabitur commodo commodo diam fringilla bibendum. Aliquam laoreet felis a ligula dictum, in ultricies augue dictum. Phasellus vitae tempus neque. Donec lacus enim, mattis ut nulla auctor, auctor porta nulla. Sed egestas at dui et ultricies. Etiam finibus urna nulla, eu sodales odio elementum ac. Fusce non porta mauris. Phasellus neque ligula, sagittis ut gravida eget, viverra sed tortor. Phasellus vitae aliquet dui, eget placerat nulla.</p>
    </div>
    <div class="col-md-3">
        <blockquote>
            <p>The tree currently has @ViewBag.NodeCount story elements.</p>
        </blockquote>
        <blockquote>
            <p>There are @ViewBag.UserCount travellers on the tree.</p>
        </blockquote>
    </div>
</div>