
@{
    ViewBag.Title = "CreateChoiceDuplicateError";
}

<div class="body-content">
    <h2>Sorry, you cannot have two identical answers to a question.</h2>
    <p><a href="/Node/View/@ViewBag.pid">Return</a></p>
</div>

